.designer {
    display: flex;
    height: calc(100vh - 70px);
    border-bottom: 2px solid #000000;
}
.designer-left,
.designer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.designer-left {
    padding: 100px;
    border-right: 2px solid #000000;
    background-color: #ff90e8;
}
.designer-right {
    position: relative;
    align-items: center;
    padding: 80px;
    background-color: #ffc900;
}
.designer-right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.designer-right-client {
    cursor: pointer;
    position: absolute;
    left: 50px;
    bottom: 40px;
    font-size: 22px;
}
.designer-right-client a {
    color: #000000;
    text-decoration: none;
}
.designer-right-client:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .designer {
        flex-direction: column;
    }
    .designer-left,
    .designer-right {
        height: 50%;
        width: 100%;
    }
    .designer-left {
        border-right: none;
        border-bottom: 2px solid #000000;
    }
    .designer-right {
        padding: 40px;
    }
}
@media screen and (max-width: 720px) {
    .designer {
        height: fit-content;
    }
    .designer-left {
        height: calc(100vh - 70px);
        padding: 80px;
    }
    .designer-right {
        height: calc(100vh - 70px);
        padding: 20px;
    }
    .designer-right-client {
        left: 30px;
        bottom: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .designer-left {
        padding: 50px;
    }
}