.developer {
    display: flex;
    height: calc(100vh - 70px);
    border-bottom: 2px solid #000000;
}
.developer-left,
.developer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.developer-left {
    position: relative;
    padding: 20px;
    border-right: 2px solid #000000;
    background-color: #ffc900;
}
.developer-left img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.developer-right {
    padding: 100px;
    background-color: #90a8ed;
}
.developer-left-client {
    cursor: pointer;
    position: absolute;
    left: 50px;
    bottom: 40px;
    font-size: 22px;
}
.developer-left-client a {
    color: #000000;
    text-decoration: none;
}
.developer-left-client:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .developer {
        flex-direction: column-reverse;
    }
    .developer-left,
    .developer-right {
        height: 50%;
        width: 100%;
    }
    .developer-right {
        border-bottom: 2px solid #000000;
    }
    .developer-left {
        padding: 0px;
        border-right: none;
    }
}
@media screen and (max-width: 720px) {
    .developer {
        height: fit-content;
    }
    .developer-left {
        height: calc(100vh - 70px);
        padding: 0px;
    }
    .developer-right {
        height: calc(100vh - 70px);
        padding: 80px;
    }
    .developer-left-client {
        left: 30px;
        bottom: 30px;
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .developer-right {
        padding: 50px;
    }
}