.process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
    padding: 200px 60px;
    border-bottom: 2px solid #000000;
    background-color: #ffffff;
}
.process .title-sub {
    text-align: center;
    width: 100%;
    max-width: 920px;
    padding: 0px 20px;
}
.process-path {
    position: relative;
    display: flex;
    height: 350px;
    min-width: 350px;
    width: 100%;
    max-width: 1200px;
    margin: 40px 0px;
    padding: 35px;
    border-radius: 200px;
    border: 2px solid #000000;
    background-color: #ffc900;
}
.process-path-arrow {
    height: 100%;
    width: 100%;
    border-radius: 200px;
    border: 2px solid #000000;
}
.process-path-i,
.process-path-ii,
.process-path-iii,
.process-path-iv {
    position: absolute;
    padding: 0px 20px;
    font-size: 24px;
    background-color: #ffc900;
}
.process-path-i,
.process-path-ii {
    top: 20px;
}
.process-path-iii,
.process-path-iv {
    bottom: 20px;
}
.process-path-i,
.process-path-iv {
    left: 200px;
}
.process-path-ii,
.process-path-iii {
    right: 200px;
}
@media screen and (max-width: 1200px) {
    .process {
        padding: 100px 60px;
    }
    .process-path-i,
    .process-path-ii,
    .process-path-iii,
    .process-path-iv {
        font-size: 22px;
    }
    .process-path-i,
    .process-path-iv {
        left: 150px;
    }
    .process-path-ii,
    .process-path-iii {
        right: 150px;
    }
}
@media screen and (max-width: 900px) {
    .process {
        padding: 80px 0px;
    }
    .process-path {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
    .process-path-arrow {
        border-radius: 0px;
    }
    .process-path-i,
    .process-path-iv {
        left: 15%;
    }
    .process-path-ii,
    .process-path-iii {
        right: 15%;
    }
}
@media screen and (max-width: 720px) {
    .process {
        padding: 50px 0px;
    }
    .process-path-i,
    .process-path-iii {
        width: fit-content;
        text-align: center;
        left: 50%;
        right: 0px;
        transform: translate(-50%, -1px);
    }
    .process-path-ii {
        top: 160px;
        right: -55px;
        transform: rotate(90deg);
    }
    .process-path-iv {
        bottom: 160px;
        left: -67px;
        transform: rotate(-90deg);
    }
}