.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 200px 60px;
    border-bottom: 2px solid #000000;
}
.quote .title-sub {
    width: 100%;
    max-width: 900px;
}

@media screen and (max-width: 500px) {
    .quote {
        padding: 100px 20px;
    }
}