.project {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.project-view {
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    border: 2px solid #000000;
}
.project-highlights {
    height: 100%;
    max-height: 700px;
    position: relative;
    text-align: center;
    border-bottom: 2px solid #000000;
}
.project-highlights-lhs,
.project-highlights-rhs {
    cursor: pointer;
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-color: #ffffff;
}
.project-highlights-lhs svg,
.project-highlights-rhs svg {
    margin: auto;
}
.project-highlights-lhs {
    top: 50%;
    left: 0px;
    transform: translate(30px,-50%);
}
.project-highlights-rhs {
    top: 50%;
    right: 0px;
    transform: translate(-30px,-50%);
}
.project-highlights:hover .project-highlights-lhs,
.project-highlights:hover .project-highlights-rhs {
    display: grid;
}
.project-highlights-srl {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 50%;
    gap: 10px;
    padding: 0px 10px;
    transform: translate(-50%,-20px);
}
.project-highlights-srl > div {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.project-highlights:hover .project-highlights-srl {
    display: flex;
}
.project-highlights-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.project-details {
    display: flex;
}
.project-details-markdown {
    width: 100%;
}
.project-details-markdown-title {
    font-size: 36px;
    padding: 20px 30px;
    border-bottom: 2px solid #000000;
}
.project-details-markdown-description {
    font-size: 16px;
    padding: 20px 30px;
}
.project-details-markdown-description p {
    margin-bottom: 10px;
}
.project-details-markdown-description ul {
    padding-left: 40px;
    margin: 10px 0px;
}
.project-details-markdown-description ul p {
    margin-bottom: 0px;
}
.project-details-info {
    width: 450px;
    border-left: 2px solid #000000;
}
.project-details-sticky {
    position: sticky;
    top: 70px;
    padding: 20px;
}
.project-details-info-txt {
    margin-bottom: 15px;
}
.project-details-info-btn {
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #000000;
    transition: box-shadow 100ms, transform 100ms;
}
.project-details-info-btn a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}
.project-details-info-btn:hover {
    box-shadow: 4px 4px #ffffff, 4px 4px 0px 2px #000000;
    transform: translate(-4px,-4px);
}
.project-details-info-tiles {
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #000000;
}
.project-details-info-tiles > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #000000;
}
.project-details-info-tiles > div:last-child {
    border-bottom: none;
}

@media screen and (max-width: 900px) {
    .project-details {
        flex-direction: column;
    }
    .project-details-info {
        width: 100%;
        border-top: 2px solid #000000;
        border-left: none;
    }
    .project-highlights {
        height: fit-content;
        max-height: none;
    }
}
@media screen and (max-width: 500px) {
    .project {
        padding: 0px;
    }
    .project-view {
        border: none;
    }
    .project-details-markdown-title {
        font-size: 30px;
    }
    .project-details-sticky {
        padding: 20px 30px;
    }
}