.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    font-size: 18px;
    border-bottom: 2px solid black;
}
.header-logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
    font-size: 40px;
    font-weight: 500;
}
.header-routes {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    gap: 60px;
    padding: 0px 20px;
}
.header-routes-link {
    color: black;
    text-decoration: none;
}
.header-routes-link:hover {
    text-decoration: underline;
}
.header-cta {
    display: flex;
}
.header-cta-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    border-left: 2px solid black;
}
.header-cta-btn:last-child {
    color: white;
    background-color: black;
}
.header-cta-btn:hover {
    color: black;
    background-color: #ff90e8;
}